.top{width: 1340px;
    background-color: #3DCCC7;height: 60px;
}
#divp1{color: #FFFFFF;font-weight: Bold;
font-family: normal;
text-align: center;font-size: 25px;float: left;
margin-top: 15px;margin-bottom: 15px;width: 158px;
height: 40px;margin-left: 80px;}
#btntop{background-color: #3DCCC7;border-color: #3DCCC7;
font-size: 15px;color: #FFFFFF;
text-align: center;float: right;margin-right: 80px;
height: 40px;width: 108px;margin-top: 20px;margin-bottom: 20px;}
#filedform1{width: 810px;height: 279px;
    margin-left: 247px;margin-right: 248px;
    margin-top: 141px;}
#task{color: #7B9A99;font-size: 25px;
font-weight:bold ;font-family: normal;
text-align: center;height: 40px;}
#tasktitle{color:#B2B2B2 ;border-color:#3DCCC7;
    border-width: 3px;border-radius: 15px;
    width: 800px;height: 50px;margin-top: 5px;
    margin-bottom: 20px;padding-left: 10px;font-size: 20px;
}
#timela{color: #7B9A99;font-size: 25px;
    font-weight:bold ;font-family: normal;
    text-align: center;}
#time{color:#B2B2B2 ;border-color:#3DCCC7;
    border-width: 3px;border-radius: 15px;width: 306px;
    height: 50px;padding-left: 10px;font-size: 20px;}
#submit{background-color: #3DCCC7;border-color: #3DCCC7;
color: #FFFFFF;border-radius:15px ;font-size: 25px;
text-align: center;font-family: normal;float: right;
width: 257px;height: 60px;}
.div3{width: 810px;margin-left: 247px;margin-right: 248px;
margin-top: 44px;margin-bottom: 120px;}
#pmy{color: #4B7F52;font-size: 29px;
font-family: normal;font-weight: bold;
width: 125px;height: 40px;float: left;margin-top: -0px;}
#select{border-color: #B2B2B2;color: #B2B2B2;
    background-color:#FFFFFF ;
border-radius: 15px;border-width: 2px;font-family: normal;font-weight: bold;
font-size: 20px;width: 169px;
height: 40px;padding-left: 10px;float: right;margin-top: -4px;}
/*----------------*/
.div11{border:3px solid #7DD181;width: 810px;
height: 95px;border-radius: 15px;
margin-left: 247px;margin-bottom:15px ;}
#h22{margin-left: 30px;color: #575757;
font-size: 30px;margin-top: 22px;width: 320px;
float: left;margin-bottom: -30px;}
#btn{background-color:#C9FFE2 ;border:3px solid #7DD181;
color: #7DD181;border-radius: 19px;width: 119px;
height: 38px;margin-top: 22px;
font-size: 20px;}
#f{width: 38px;height: 38px;border-radius: 4px;
border: 3px solid #FF6E6E;color: #FF6E6E;
background-color: #FFE6E6;float: right;
margin-top: 22px;margin-right: 22px;font-size: 18px;}
#time1{font-size: 15px;color: #9B9B9B;
  width: 73px; height: 60px;margin-left: 26px;
  text-align: center;
}
        /*----------------------*/
        .div12{border:3px solid #FF9A34;width: 810px;
            height: 95px;border-radius: 15px;
            margin-left: 247px;margin-bottom:15px ;}
            #btn2{background-color:#FFE7CF ;border:3px solid #FF9A34;
                color: #FF9A34;border-radius: 19px;width: 119px;
                height: 38px;margin-top: 22px;
                font-size: 20px;}
                #f1{width: 38px;height: 38px;border-radius: 4px;
                    border: 3px solid #FF6E6E;color: #FF6E6E;
                    background-color: #FFE6E6;
                    margin-top: 22px;margin-right: 20px;font-size: 18px;}
                #t1{width: 38px;height: 38px;border-radius: 4px;
                    border: 3px solid #7DD181;color: #7DD181;
                    background-color: #B6F9C9;
                    margin-top: 22px;margin-right: 20px;font-size: 18px;}
                    .divft{float: right;}
        /**************************/
 /*----------------------*/
 .div13{border:3px solid #D5D5D5;width: 810px;
    height: 95px;border-radius: 15px;
    margin-left: 247px;margin-bottom:15px ;}
    #btn3{background-color:#F2F2F2 ;border:3px solid #6E6E6E;
        color: #6E6E6E;border-radius: 19px;width: 119px;
        height: 38px;margin-top: 22px;
        font-size: 20px;}
/**************************/ 
        .div14{border:3px solid #D5D5D5;width: 810px;
            height: 95px;border-radius: 15px;
            margin-left: 247px;margin-bottom:15px ;}
            #btn4{background-color:#F2F2F2 ;border:3px solid #6E6E6E;
                color: #6E6E6E;border-radius: 19px;width: 119px;
                height: 38px;margin-top: 22px;
                font-size: 20px;}
        /**************************/ 
        .div15{border:3px solid #D5D5D5;width: 810px;
            height: 95px;border-radius: 15px;
            margin-left: 247px;margin-bottom:75px ;}
            #btn5{background-color:#F2F2F2 ;border:3px solid #6E6E6E;
                color: #6E6E6E;border-radius: 19px;width: 119px;
                height: 38px;margin-top: 22px;
                font-size: 20px;}
        /**************************/
        .div5{background-color: #3DCCC7;
       height: 120px;
        width: 1340px;}
        #pbottom1{color: #FFFFFF;font-size:22px ;
            font-family: normal;font-weight: bold;float: left;
            margin-left: 80px;margin-top: 50px;margin-bottom: 50px;
            width: fit-content;
        }
        #pbottom2{color: #FFFFFF;font-size:22px ;
            font-family: normal;font-weight: bold;float: right;
        margin-right: 80px;margin-top: 50px;margin-bottom: 50px;
        width: fit-content;
        }
        .div7{margin-top: 75px;}
        /*------------------------------------------------------------------------------------------*/
        /*page2 */
        
        #divp12{color: #FFFFFF;font-weight: Bold;
            font-family: normal;
            text-align: center;font-size: 25px;float: left;
            margin-top: 15px;margin-bottom: 15px;width: 158px;
            height: 40px;margin-left: 80px;
           }
        .btntop{float: right; margin-right:80px;}
        #btntop2{float: left;font-size: 15px;color: #FFFFFF;
            text-align: center; height: 40px;width: 108px;
            margin-top: 20px;
            }
        #btntop3{float: left;background-color:#3DCCC7 ;color:#FFFFFF ;
        border: 3px solid #FFFFFFCC;border-radius: 8px;font-size: 15px; font-weight: bold;
    font-family: normal; margin-top: 10px;width: 110px;height: 35px;
border-radius: 8px;}
#h1login{color: #07BEB8;text-align: center;height: 55px;margin-top: 75px;
font-weight: bold;font-size: 37px;font-family: normal ;}
#Login1f{width: 411px;height: 330px;margin-left:  460px;
margin-top: 33px;}
#emailla{color: #7B9A99;font-size: 15px;
height: 20px;margin-bottom: 10px;}
#email{width: 401px;border-radius: 12px;
    border:3px solid #3DCCC7 ;padding-left:10px ;
height: 40px;color: #B2B2B2;font-size: 17px;
margin-top: 15px;margin-bottom: 15px;}
#passla{color: #7B9A99;font-size: 15px;
    height: 20px;}
#pass{width: 401px;border-radius: 12px;
    border:3px solid #3DCCC7 ;padding-left:10px ;
height: 40px;color: #B2B2B2;font-size: 17px;
margin-top: 15px;margin-bottom: 6px;}
#a2{color: #07BEB8;text-decoration: none;font-size: 13px;}
#submitlog{margin-left:106px;margin-top: 20px;
color: #FFFFFF;background-color: #3DCCC7;border-color: #3DCCC7;
font-size: 21.5px;height: 45px; border-radius: 15px;width: 200px;}
#p12{margin-left: 66px;width: 178px;float: left;
font-size: 18px;margin-top: 50px;height: 22.5px;}
#a4{color:#07BEB8 ;font-size: 18px;
    text-decoration: none;height: 22.5px;float: left;
    margin-top: 50px;}
    .div6{margin-top: 75px;}
    /*-------------------------------------------------------------*/
    /*page3********/
    #h1create{color: #07BEB8;text-align: center;height: 55px;margin-top: 75px;
        font-weight: bold;font-size: 37px;font-family: normal ;}
        #formSignup{width: 402px;height: 416px;margin-left: 460px;
        margin-top: 44px;}
        #fullla{color: #7B9A99;font-size: 15px;
            height: 20px;margin-bottom: 10px;}
            #emailpala{color: #7B9A99;font-size: 15px;
                height: 20px;margin-bottom: 10px;}
            #passpala{color: #7B9A99;font-size: 15px;
                height: 20px;margin-bottom: 10px;}
            #confirmla{color: #7B9A99;font-size: 15px;
                height: 20px;margin-bottom: 10px;}
                #fullname{width: 392px;height: 45px;
                    border:3px solid #3DCCC7 ;border-radius: 12px;
                color: #B2B2B2;padding-left: 10px;font-size: 17px;
                margin-top: 10px;margin-bottom: 10px;
            }
            #emailpage3{width: 392px;height: 45px;
                border:3px solid #3DCCC7 ;border-radius: 12px;
            color: #B2B2B2;padding-left: 10px;font-size: 17px;
            margin-top: 10px;margin-bottom: 10px;}
            #passpage3{width: 392px;height: 45px;
                border:3px solid #3DCCC7 ;border-radius: 12px;
            color: #B2B2B2;padding-left: 10px;font-size: 17px;
            margin-top: 10px;margin-bottom: 10px;}
            #confirm{width: 392px;height: 45px;
                border:3px solid #3DCCC7 ;border-radius: 12px;
            color: #B2B2B2;padding-left: 10px;font-size: 17px;
            margin-top: 10px;margin-bottom: 10px;}
            #submitSignup{margin-left:106px;margin-top: 20px;
                color: #FFFFFF;background-color: #3DCCC7;border-color: #3DCCC7;
                font-size: 21.5px;height: 45px; border-radius: 15px;width: 200px;
                margin-top: 35px;}
                .div6{margin-top: 60px;}
